<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head',{title:'Admin Mode'}) %>
    <script>
        $(document).ready(function(){
            var order = false;
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("li").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>
<body>
    <div id="content">

        <%- include('./partials/header.ejs') %>

        <nav>
            <div class="navbar">
            <input id="myInput" type="text" placeholder="Search..">
            <br><br>
          
            <%- include('./partials/adminNav.ejs') %>

            </div>
        </nav>
    
        <main style="column-count: 1;display:grid;justify-items: center;">
         
        <div class="postCard" style="width : 1200px;">

            <table class="coolTable">
                <tr>
                    <th> Product  </th>
                    <th> Customer  </th>
                    <th> Tempo  </th>
                    <th> StartDate  </th>
                    <th> EndDate  </th>
                    <th> Status  </th>
                    <th> Transactions  </th>
                </tr>

                <% subscribes.forEach(subscribe => { %>
                <tr>
                    <td><%= subscribe.Product.name %> </td>
                    <td><%= subscribe.User.username %> </td>
                    <td><%= subscribe.tempo %> </td>
                    <td><%= helpers.dateOnly(subscribe.startDate) %> </td>
                    <td><%= helpers.dateOnly(subscribe.endDate) %> </td>
                    <td><%= subscribe.status %> </td>
                    <td>
                    <ol><a href=""></a>
                    <% subscribe.Transactions.forEach(transaction => { %>
                        <li> <%= helpers.getFormattedDate(transaction.processDate) %> | <%= helpers.getCurrency(transaction.subtotal) %> | <%= transaction.processed %> | <a href="/transactions/<%= transaction.id %>/process"> --> process</a> </li>
                    <% }) %>
                    </ol>
                    </td>
                </tr>
                <% }) %>
            </table>

        </div>

    
            


        </main>

        <aside>
            
        </aside>

        

        <footer></footer>

    </div>
    
</body>
</html>