<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{title:'Login'}) %>   
</head>
<body>
    <%- include('../partials/header') %>
    <main  style="column-count: 1;display: grid;justify-items: center;">
    <h1>Login</h1>
        <div class="loginForm">
            <div class="postCard">
                
                
                <% if (err) { %>
                    <h1><%= err %></h1> 
                <% } %>

                <form action="/login" method="post">
                    <input type="text" name = "username" placeholder = "USERNAME" value="<%= inputed? inputed.username : '' %>"> <br>
                    <br>
                    <input type="password" name = "password" placeholder = "PASSWORD" value="<%= inputed? inputed.password : '' %>">
                    <br>
                    <br>
                    <input class="questionBtn" type="submit"  value="Login"><br><br>


                    <div><h1><a href="/register">register</a></div></h1></div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>