<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{title:'Register'}) %>
</head>
<body>

    <%- include('../partials/header') %>



    <main  style="column-count: 1;display: grid;justify-items: center;">
    <h1>Register</h1>
        <div class="loginForm">
            <div class="postCard">
                

                <% if (data.errors) { %>
                    <% data.errors.forEach(element => { %>
                        <h1><%= element.message %></h1> 
                    <% }) %>
                <% } %>

                <form action="/register" method="POST">
                    <input type="hidden" name = "role" value="customer">
                    <input type="text" name = "username" placeholder="USERNAME" value="<%= inputed?inputed.username:'' %>"><br><br>
                    <input type="password" name = "password" placeholder="PASSWORD" value="<%= inputed?inputed.password:'' %>"><br><br>
                    <input type="text" name = "email" placeholder="EMAIL@EMAIL.EMAIL" value="<%= inputed?inputed.email:'' %>"><br><br>
                    <input type="text" name = "phone" placeholder="PHONE" value="<%= inputed?inputed.phone:'' %>"><br><br>
                    <input type="text" name = "address" placeholder="ADDRESS" value="<%= inputed?inputed.address:'' %>"><br><br>
                    <input type="submit" value ="Register" ><br><br>
                </form>
            </div>
        </div>
    </main>
</body>
</html>