<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{title:'User Detail'}) %>
</head>
<body>
    <%- include('../partials/header') %>
    <main  style="column-count: 1;display: grid;justify-items: center;">
        <div class="loginForm">
            
            <div class="postCard">
            <h1>Account Detail</h1>
            <table class="coolTable" >
                <tr>
                    <th>Username</th>
                    <td><%= user.username  %></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>**********</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><%= user.email  %></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td><%= user.phone  %></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><%= user.address  %></td>
                </tr>
            </table>
            <br>
            <button class='questionBtn' ><a href="/users/edit">Edit Data</a></button>
            <br>

               
            </div>
        </div>
    </main>
</body>
</html>