<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Old+Standard+TT" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Login</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main  style="column-count: 1;display: grid;justify-items: center;">
        <div class="loginForm">
    
            <div class="postCard">
            <h1>Edit Account</h1>
            <form action="/users/update" method="POST">
                <input type="text" name = "username" placeholder="USERNAME" value="<%= user.username %>"> <br><br>
                <input type="password" name = "password" placeholder="PASSWORD" value="<%= user.password %>"> <br><br>
                <input type="text" name = "email" placeholder="Email" value="<%= user.email %>"> <br><br>
                <input type="text" name = "phone" placeholder="PHONE" value="<%= user.phone %>"> <br><br>
                <input type="text" name = "address" placeholder="ADDRESS" value="<%= user.address %>"> <br><br>
                <input type="submit"  value="UPDATE">
            </form>


               
            </div>
        </div>
    </main>
</body>
</html>