<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head',{title:'Subscribe Form'}) %>
</head>
<body>
    <div id="content">

        <%- include('../partials/header.ejs') %>

        <nav>
            <div class="navbar">
               
            </div>
        </nav>

    
        <main style="column-count: 1;display:grid;justify-items: center;">
 
            <div class="postCard" style="width : 500px;">
            <% if (data.errors) { %>
                <% data.errors.forEach(element => { %>
                    <h1><%= element.message %></h1> 
                <% }) %>
            <% } %>
                <form method="POST">
                    <input type="hidden" name="UserId" value="<%= user.id %>">
                    <input type="hidden" name="ProductId" value="<%= productId %>">
                    <br>Tempo<br>
                    <br>
                    <select name="tempo">
                        <option value="1">Daily</option>
                        <option value="3">Every 3 Days</option>
                        <option value="7">Weekly</option>
                        <option value="30">Monthly</option>
                    </select>
                    <br>
                    <br>Start Date<br>
                    <br>
                    <input type="date" min="<%= new Date().toISOString().split('T')[0] %>" name="startDate" placeholder="Start Date"><br>
                    <br>End Date<br>
                    <input type="date" min="<%= new Date().toISOString().split('T')[0] %>" class="datetoday" name="endDate" placeholder="End Date"><br><br>
                    <br>

                    <input type="submit" value="subscribe">
                </form>
            </div>

        </main>

        <aside>
            
        </aside>

        

        <footer></footer>

    </div>
 
    
</body>
</html>