<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head',{title:'Subscribes'}) %>
</head>
<body>
    <div id="content">

        <%- include('../partials/header.ejs') %>

        <nav>
            <div class="navbar">
               
            </div>
        </nav>
    
        <main style="column-count: 2;display:grid;justify-items: center;">
        <% subscribes.forEach(subscribe => { %>
             
            
            <div class="postCard" style="width : 800px;">
                <img style="max-width:830px;" src="https://picsum.photos/830/300/?random" alt="">
                <h1>Subscribe NO: <%= subscribe.id %></h1>
                <table>
                    <tr>
                        <th>Milk</th>
                        <td><%= subscribe.Product.name  %></td>
                    </tr>
                    <tr>
                        <th>Flavor</th>
                        <td><%= subscribe.Product.flavor  %></td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td><%= subscribe.Product.category  %></td>
                    </tr>
                    <tr>
                        <th>Unit</th>
                        <td><%= subscribe.Product.unit  %></td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td><%= subscribe.Product.rating  %></td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td><%= helpers.getCurrency(subscribe.Product.price)  %></td>
                    </tr>
                    <tr>
                        <th>Subscribed At</th>
                        <td><%= helpers.dateOnly(subscribe.createdAt)  %></td>
                    </tr>
                    <tr>
                        <th>Start At</th>
                        <td><%= helpers.dateOnly(subscribe.startDate)  %></td>
                    </tr>
                    <tr>
                        <th>End At</th>
                        <td><%= helpers.dateOnly(subscribe.endDate)  %></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td><%= subscribe.status  %></td>
                    </tr>
                </table>

                <br><br>

                <table class="coolTable">
                <tr>
                    <th>ID</th>
                    <th>Process Date</th>
                    <th>Subtotal</th>
                    <th>Process Status</th>
                </tr>
                <% subscribe.Transactions.forEach(transaction => { %>
                    <tr>
                        <td><%= transaction.id %></td>
                        <td><%= transaction.processDate %></td>
                        <td><%= helpers.getCurrency(transaction.subtotal) %></td>
                        <td><%= transaction.processed %></td>
                    </tr>
                <% }) %>
                </table>


            </div>

        <% }) %>
        </main>

        <aside>
            
        </aside>

        

        <footer></footer>

    </div>
    
</body>
</html>