<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head',{title:'Products'}) %> 
    <script>
        $(document).ready(function(){
            var order = false;
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".postCard").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>
<body>
    <div id="content">

        <%- include('../partials/header.ejs') %>

        <nav>
            <div class="navbar">
            <input id="myInput" type="text" placeholder="Search..">
            <br><br>
            <button class="questionBtn">
                Sort by Rating
            </button>
            <%- include('../partials/adminNav.ejs') %>
            </div>
        </nav>
    
        <main>
            
             <% products.forEach(product =>{ %>
                <a href="/products/<%= product.id %>">
                <div class="postCard">
                    <img style="max-width : 280px;" src="<%= product.img %>" alt="">
                    <h1><%= product.name %></h1>
                    <table >
                        <tr>
                            <th>Flavor</th>
                            <td><%= product.flavor  %></td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td><%= product.category  %></td>
                        </tr>
                        <tr>
                            <th>Unit</th>
                            <td><%= product.unit  %></td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                            <td><%= product.rating  %></td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td><%= helpers.getCurrency(product.price)  %></td>
                        </tr>
                    </table>


                </div>
                </a>
            <% }) %>


        </main>

        <aside>
            
        </aside>

        

        <footer></footer>

    </div>
    
</body>
</html>